<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Competitive Exams</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/master.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <div class="jumbotron centered">
      <div class="container">
        <!-- h1 class="display-1 text-center">Catchup</h1-->
        <!--div class="jumbotron jumbotron-fluid">
          <div class="container"></div>
        </div-->
        <div class="container mt-5">
          <h1>Policies</h1>

          <div class="row">
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                    <div role="tabpanel">
                        <!-- List group -->
                        <div class="list-group" id="myList" role="tablist">
                          <a class="list-group-item list-group-item-info list-group-item-action" data-bs-toggle="list" href="#rural" role="tab">Rural Policy</a>
                          <a class="list-group-item list-group-item-danger list-group-item-action" data-bs-toggle="list" href="#urban" role="tab">Urban Policy</a>
                          <a class="list-group-item list-group-item-dark list-group-item-action" data-bs-toggle="list" href="#geriatric" role="tab">Geriatric Policy</a>
                          <a class="list-group-item list-group-item-primary list-group-item-action" data-bs-toggle="list" href="#reservation" role="tab">Reservation Policy</a>
                          <a class="list-group-item list-group-item-warning list-group-item-action" data-bs-toggle="list" href="#monetary" role="tab">Monetary Policy</a>
                          <a class="list-group-item list-group-item-warning list-group-item-action" data-bs-toggle="list" href="#fiscal" role="tab">Fiscal Policy</a>
                          <a class="list-group-item list-group-item-info list-group-item-action" data-bs-toggle="list" href="#environment" role="tab">Environment Policy</a>
                          <a class="list-group-item list-group-item-light list-group-item-action" data-bs-toggle="list" href="#health" role="tab">Health Policy</a>
                          <a class="list-group-item list-group-item-primary list-group-item-action" data-bs-toggle="list" href="#water" role="tab">Water Policy</a>
                          <a class="list-group-item list-group-item-primary list-group-item-action" data-bs-toggle="list" href="#foreign" role="tab">Foreign Policy</a>
                          <a class="list-group-item list-group-item-warning list-group-item-action" data-bs-toggle="list" href="#infrastructure" role="tab">Infrastructure Policy</a>
                          <a class="list-group-item list-group-item-warning list-group-item-action" data-bs-toggle="list" href="#trade" role="tab">Trade Policy</a>
                          <a class="list-group-item list-group-item-success list-group-item-action" data-bs-toggle="list" href="#youth" role="tab">Youth Policy</a>
                          <a class="list-group-item list-group-item-dark list-group-item-action" data-bs-toggle="list" href="#disability" role="tab">Disability Policy</a>
                          <a class="list-group-item list-group-item-primary list-group-item-action" data-bs-toggle="list" href="#education" role="tab">Education Policy</a>
                          <a class="list-group-item list-group-item-warning list-group-item-action" data-bs-toggle="list" href="#industrial" role="tab">Industrial Policy</a>
                          <a class="list-group-item list-group-item-warning list-group-item-action" data-bs-toggle="list" href="#manufacturing" role="tab">Manufacturing Policy</a>
                          <a class="list-group-item list-group-item-primary list-group-item-action" data-bs-toggle="list" href="#agricultural" role="tab">Agricultural Policy</a>
                          <a class="list-group-item list-group-item-dark list-group-item-action" data-bs-toggle="list" href="#tribal" role="tab">Tribal Policy</a>
                          <a class="list-group-item list-group-item-dark list-group-item-action" data-bs-toggle="list" href="#welfare" role="tab">Welfare Policy</a>
                          <a class="list-group-item list-group-item-danger list-group-item-action" data-bs-toggle="list" href="#cyber" role="tab">Cyber Policy</a>
                          <a class="list-group-item list-group-item-light list-group-item-action" data-bs-toggle="list" href="#housing" role="tab">Housing Policy</a>
                          <a class="list-group-item list-group-item-primary list-group-item-action" data-bs-toggle="list" href="#gender" role="tab">Gender Policy</a>
                          <a class="list-group-item list-group-item-dark list-group-item-action" data-bs-toggle="list" href="#tourism" role="tab">Tourism Policy</a>
                          <a class="list-group-item list-group-item-dark list-group-item-action" data-bs-toggle="list" href="#climate" role="tab">Climate-related Policy</a>
                          <a class="list-group-item list-group-item-danger list-group-item-action" data-bs-toggle="list" href="#economic" role="tab">Economic Policy</a>
                          <a class="list-group-item list-group-item-light list-group-item-action" data-bs-toggle="list" href="#judicial" role="tab">Judicial Policy</a>
                          <a class="list-group-item list-group-item-light list-group-item-action" data-bs-toggle="list" href="#security" role="tab">Security Policy</a>
                          <a class="list-group-item list-group-item-light list-group-item-action" data-bs-toggle="list" href="#inclusive" role="tab">Inclusive Policies</a>
                        </div>
                      
                        
                      </div>
                </div>
              </div>
            </div>

            <div class="col-sm-9">
              <div class="card social-block">
                <div class="card-body">
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane active" id="rural" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h3>Links</h3>
                      <h5>Visions for Rural Development</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>

                    <div class="tab-pane" id="urban" role="tabpanel">
                      Hi
                    </div>
                    
                    <div class="tab-pane" id="geriatric" role="tabpanel">
                      ...
                    </div>
                    
                    <div class="tab-pane" id="settings" role="tabpanel">
                      ...
                    </div>
                    
                    <div class="tab-pane" id="reservation" role="tabpanel">
                      Hello
                    </div>
                    
                    <div class="tab-pane" id="monetary" role="tabpanel">
                      Hi
                    </div>
                    
                    <div class="tab-pane" id="fiscal" role="tabpanel">
                      ...
                    </div>
                    
                    <div class="tab-pane" id="environment" role="tabpanel">
                      ...
                    </div>
                    
                    <div class="tab-pane" id="health" role="tabpanel">
                      Hello
                    </div>
                    
                    <div class="tab-pane" id="water" role="tabpanel">
                      Hi
                    </div>
                    
                    <div class="tab-pane" id="foreign" role="tabpanel">
                      ...
                    </div>
                    
                    <div class="tab-pane" id="infrastructure" role="tabpanel">
                      ...
                    </div>
                    
                    <div class="tab-pane" id="trade" role="tabpanel">
                      Hello
                    </div>
                    
                    <div class="tab-pane" id="youth" role="tabpanel">
                      Hi
                    </div>
                    
                    <div class="tab-pane" id="disability" role="tabpanel">
                      ...
                    </div>
                    
                    <div class="tab-pane top" id="education" role="tabpanel">
                      <p>Education as an western import into India began with Macaulay's Minutes on Education (1835) followed by Charles Wood's Despatch (1854).</p>
                      <h3>Links</h3>
                      <h5>Back to the roots?</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1rEYe-tRHnpgZkWGr-QhGFW9qNodJJwdt/view?usp=share_link">Getting to the core of Vedic Mathematics</a>
                          <p>It questions the relevance of making school students (as opposed to faculty) study Vedic Mathematics as an additional course.</p>
                        </li>
                      </ul>
                    </div>

                    <div class="tab-pane" id="industrial" role="tabpanel">
                      Hello
                    </div>
                    
                    <div class="tab-pane" id="manufacturing" role="tabpanel">
                      Hi
                    </div>
                    
                    <div class="tab-pane" id="agricultural" role="tabpanel">
                      ...
                    </div>
                    
                    <div class="tab-pane" id="tribal" role="tabpanel">
                      ...
                    </div>
                    
                    <div class="tab-pane" id="welfare" role="tabpanel">
                      Hello
                    </div>
                    
                    <div class="tab-pane" id="cyber" role="tabpanel">
                      Hi
                    </div>
                    
                    <div class="tab-pane" id="housing" role="tabpanel">
                      ...
                    </div>
                    
                    <div class="tab-pane" id="gender" role="tabpanel">
                      ...
                    </div>
                    
                    <div class="tab-pane" id="tourism" role="tabpanel">
                      Hello
                    </div>
                    
                    <div class="tab-pane" id="climate" role="tabpanel">
                      Hi
                    </div>
                    
                    <div class="tab-pane" id="economic" role="tabpanel">
                      ...
                    </div>
                    
                    <div class="tab-pane" id="judicial" role="tabpanel">
                      ...
                    </div>
                    
                    <div class="tab-pane" id="security" role="tabpanel">
                      Hello
                    </div>
                    
                    <div class="tab-pane" id="inclusive" role="tabpanel">
                      Hi
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
