<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Competitive Exams</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/master.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    
        <p></p>      
        <p></p>
        <div class="row position-relative overflow-auto justify w-100">
            <div class="container" id="myList" role="tablist">
              <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
                <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center active" id="0001" data-toggle="list" href="#rural" role="tab">Rural Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0002" data-toggle="list" href="#urban" role="tab">Urban Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0003" data-toggle="list" href="#geriatric" role="tab">Geriatric Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0004" data-toggle="list" href="#reservation" role="tab">Reservation Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0005" data-toggle="list" href="#monetary" role="tab">Monetary Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0006" data-toggle="list" href="#fiscal" role="tab">Fiscal Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0007" data-toggle="list" href="#environment" role="tab">Environment Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0008" data-toggle="list" href="#health" role="tab">Health Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0009" data-toggle="list" href="#water" role="tab">Water Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0010" data-toggle="list" href="#foreign" role="tab">Foreign Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0011" data-toggle="list" href="#infrastructure" role="tab">Infrastructure Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0012" data-toggle="list" href="#trade" role="tab">Trade Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0013" data-toggle="list" href="#youth" role="tab">Youth Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0014" data-toggle="list" href="#disability" role="tab">Disability Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0015" data-toggle="list" href="#education" role="tab">Education Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0016" data-toggle="list" href="#industrial" role="tab">Industrial Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0017" data-toggle="list" href="#manufacturing" role="tab">Manufacturing Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0018" data-toggle="list" href="#agricultural" role="tab">Agricultural Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0019" data-toggle="list" href="#tribal" role="tab">Tribal Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0020" data-toggle="list" href="#welfare" role="tab">Welfare Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0021" data-toggle="list" href="#cyber" role="tab">Cyber Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0022" data-toggle="list" href="#housing" role="tab">Housing Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0023" data-toggle="list" href="#gender" role="tab">Gender Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0024" data-toggle="list" href="#tourism" role="tab">Tourism Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0025" data-toggle="list" href="#energy" role="tab">Energy Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0026" data-toggle="list" href="#economic" role="tab">Economic Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0027" data-toggle="list" href="#judicial" role="tab">Judicial Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0028" data-toggle="list" href="#security" role="tab">Security Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0029" data-toggle="list" href="#inclusive" role="tab">Inclusive Policies</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0030" data-toggle="list" href="#telecom" role="tab">Telecom Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0031" data-toggle="list" href="#competition" role="tab">Competition Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0032" data-toggle="list" href="#fintech" role="tab">FinTech Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0033" data-toggle="list" href="#scitech" role="tab">Science & Technology Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0034" data-toggle="list" href="#electoral" role="tab">Electoral Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0035" data-toggle="list" href="#nutrition" role="tab">Nutrition Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0036" data-toggle="list" href="#poverty" role="tab">Poverty-related Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0037" data-toggle="list" href="#labour" role="tab">Labour Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0038" data-toggle="list" href="#nuclear" role="tab">Nuclear Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0039" data-toggle="list" href="#space" role="tab">Space Policy</a>
          <a class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" id="0040" data-toggle="list" href="#misc" role="tab">Other Policies</a>
              </div>
            </div>
            
          </div>

        <div class="container mt-5">
          <div class="row">
          <div class="col-sm-12">
              <div class="card social-block">
                <div class="card-body">
                  <!-- Tab panes -->
                  <div class="tab-content" id="navcontent">
                    <div class="tab-pane fade show active" id="rural" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>

                    <div class="tab-pane fade" id="urban" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="geriatric" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="settings" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="reservation" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="monetary" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="fiscal" role="tabpanel">
                      <p>Policies of government to regulate economy</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1DihmFTNLRArQYkyv6bo6ZnVDQFYhRwwK/view?usp=share_link">Level-headed Taxation</a>
                          <p>In a market economy, the principle of equity in taxation (or redistributive policies) is realised by the rationale of providing 'level-playing field' amongst all players. But where constraint of resources is a reality that one needs to cope with, such an argument will not hold good.</p>
                        </li>
                      </ul>                      
                    </div>
                    
                    <div class="tab-pane fade" id="environment" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="health" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="water" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="foreign" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="infrastructure" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="trade" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="youth" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="disability" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane top" id="education" role="tabpanel">
                      <p>Education as an western import into India began with Macaulay's Minutes on Education (1835) followed by Charles Wood's Despatch (1854).</p>
                      <h4>Links</h4>
                      <h5>Back to the roots?</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1rEYe-tRHnpgZkWGr-QhGFW9qNodJJwdt/view?usp=share_link">Getting to the core of Vedic Mathematics</a>
                          <p>It questions the relevance of making school students (as opposed to faculty) study Vedic Mathematics as an additional course.</p>
                        </li>
                      </ul>
                    </div>

                    <div class="tab-pane fade" id="industrial" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="manufacturing" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="agricultural" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="tribal" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="welfare" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="cyber" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="housing" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="gender" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="tourism" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="energy" role="tabpanel">
                      <p>Climate change has been a pressing problem of the world today.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1VZ52JB-kukIr1fhalSgZLTbCiANoIe97/view?usp=share_link">Getting out of fossil fuels</a>
                          <p>As developed countries are transitioning from coal to natural gas, there is pressure on developing countries to do the same. But, adequate incentives to enable such a transition is absent.</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="economic" role="tabpanel">
                      <p>Economic policy</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="judicial" role="tabpanel">
                      <p>Justice delivery system has been overburdened with litigations. In the recent years, the increasing pendency of cases in judiciary is viewed more as a demand-supply problem.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1FraWpMMT2pSo8R8YQ74-bGjkRPC7OQMe/view?usp=sharing">Institutional arbitration remains a non-starter</a>
                          <p>It moots the solution of arbitration for reducing delay in justice delivery. The article opines that absence of politcal-will at the state level and lack of awareness have contributed to unpopularity of institutional arbitration despite the presence of adequate legal frameworks.</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="security" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="inclusive" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>

                    <div class="tab-pane fade" id="telecom" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>

                    <div class="tab-pane fade" id="competition" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>

                    <div class="tab-pane fade" id="fintech" role="tabpanel">
                      <p>FinTech has been revolutionising payments interface, changing banking equations and disrupting the existing silos in which businesses have been operating.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1zzyWZsZONlortVWG5U2nvhJALZGDbwmu/view?usp=sharing">Develop a 'blockchain for DPI' playbook</a>
                          <p>Blockchain technology could be harnessed for building the Digital Public Infrastructure. Two issues that are to be taken note of include- 1. decentralised nature of blockchain that is not compatible with central points of accountability and responsibility and 2. legitimacy of blockchain based records.</p>
                        </li>
                      </ul>
                    </div>

                    <div class="tab-pane fade" id="scitech" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>

                    <div class="tab-pane fade" id="electoral" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>

                    <div class="tab-pane fade" id="nutrition" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>

                    <div class="tab-pane fade" id="poverty" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>

                    <div class="tab-pane fade" id="labour" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>

                    <div class="tab-pane fade" id="inclusive" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>

                    <div class="tab-pane fade" id="nuclear" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>

                    <div class="tab-pane fade" id="space" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="misc" role="tabpanel">
                      <p>Rural policy had it origin in the Gandhian idea of local governance.</p>
                      <h4>Links</h4>
                      <h5>April 2023</h5>
                      <ul>
                        <li><a href="https://drive.google.com/file/d/1vuB1BWDvqjy4doR0cDEzdhpo_v2PHA2V/view?usp=sharing">Moral Progress</a>
                          <p>It speaks about the link between morality and progress that was emphasised by Mahatma Gandhi and Pandit Madan Mohan Malaviya. (Linked to the idea of pragmatism)</p>
                        </li>
                      </ul>
                    </div>
                    

                  </div>
              
    
  </body>
</html>
